body{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	font-size: 12px;
}
.wrapper{
	width: 1500px;
	margin: auto;
	font-size: 12px;
	font-family: Arial;
	background: #f8f9fb;
}
.header{
	width: 1500px;
	height: 150px;
}
.header > .toolbar{
	width: 1500px;
	line-height: 25px;
	background: #b72222;
}
.header > .toolbar ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-left: 1250px;
}
.header > .toolbar ul li{
	display: inline;
	border-right: 1px solid white;
}
.header > .toolbar ul li:last-child{
	border-right-width: 0px;
}
.header > .toolbar ul a{
	text-decoration: none;
	color: white;
	margin-left: 15px;
	margin-right: 15px;
}
.header > .content{
	display: flex;
	background: #ffffff;
}
.header > .content > .left{
	height: 125px;
}
.header > .content > .left img{
	width: 125px;
	margin-left: 100px;
}
.header > .content > .middle{
	margin-left: 200px;
}
.header > .content > .middle > ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	margin-top: 30px;
}
.header > .content > .middle input{
	width: 600px;
	height: 40px;
	border: 1px solid red;
	border-radius: 5px;

}
.header > .content > .right{
	margin-left: 200px;
}
.header > .content > .right svg{
	color: black;
	margin-top: 40px;
	margin-right: 40px;
}
/*==========================================*/
.header > .menu-1{
	width: 100%;
	line-height: 30px;
	background: #e60f1e;
}
.header > .menu-1 ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.header > .menu-1 ul li{
	display: inline;
	border-right: 1px solid white;
}
.header > .menu-1 ul li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin-right: 30px;
	margin-left: 30px;
}
.header > .menu-1 ul li:last-child{
	border-right-width: 0px;
}
.header > .menu-1 > ul > li > a:hover{
	color: #24c3e5;
}
.header > #menu{
	width: 100%;
	line-height: 30px;
	background: #e60f1e;
	display: none;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	
}
.header > #menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.header > #menu ul li{
	display: inline;
	border-right: 1px solid white;
}
.header > #menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin-right: 30px;
	margin-left: 30px;
}
.header > #menu ul li:last-child{
	border-right-width: 0px;
}
.header > #menu > ul > li > a:hover{
	color: #24c3e5;
}